

<link rel="stylesheet" href='/assets/css/cms.css' />
 {% block body %}
<div class="cms-container main-content-wrapper">
  <div class="main-content">
    {% if collections.post | length == 0 %}
    <h1>No Recent Posts</h1>
    {% else %} {%- for post in collections.post | reverse -%}
    <article class="recent-articles">
      
      <div class="article-group">
        <div class="cms-authorGroup">
        
          <span class="cms-author">{{ post.data.author }}</span>
          <span aria-hidden="true" class="cms-dot"></span>
        </div>
        <h2 class="cms-h1">{{ post.data.title }}</h2>
      </div>
    </article>
    {%- endfor -%} {% endif %}
  </div>

</div>
{% endblock %}
